You were invited to Organization "<%= @organization %>"
<br><br>
<br><br>
<p><%= link_to 'Accept invitation', @invitation_link %></p>
<br><br>
<br><br>
Best regards,
<br>
Your Travis CI VCS Proxy Bot
