<p style="text-align:left;font-size:16px;line-height:35px;">
  <strong>Hello <%= @email %>!</strong>
</p>

<p style="margin-bottom:30px;text-align:left;color:#333333;">
Someone requested a password reset for this email address. If it wasn’t you, please ignore this message and verify your 2 Factor Authentication configuration in <a href="<%= @vcsproxy_link %>" target="_blank">Travis CI VCS Proxy</a>.
</p>

<p style="margin-bottom:30px;text-align:left;color:#333333;">
To reset your password, please perform the following actions:
1. First, use the button below and follow the on-screen instructions.

<div style="text-align:center;">
  <%= link_to 'Change my password', URI.join(Settings.web_url, "setup_new_password?reset_password_token=#{@token}").to_s, :style=>'background-color:#2EB459;padding:15px;color:#FFFFFF;text-decoration:none;border-radius:2px;' %>
</div>

2. Once the password is changed, you will be redirected to the Travis VCS Proxy log-in screen. Log in using the new password.
<br><br>
Your password won't change until you access the link above and create a new one.
</p>

<p style="margin-bottom:30px;text-align:left;color:#333333;">
Read more on <a href="https://docs.travis-ci.com/user/travis-ci-vcs-proxy/" target="_blank">adding repositories in the Travis CI VCS Proxy</a> and <a href="https://docs.travis-ci.com/user/travis-ci-vcs-proxy-get-started/" target="_blank">using Travis CI via Travis CI VCS Proxy</a>. 
<br>
We recommend reading the <a href="https://docs.travis-ci.com/user/for-beginners/" target="_blank">Getting started with Travis CI</a> pages.
</p>
 
<p style="text-align:left;color:#333333;">Thank you, and have a great day!</p>
<p style="font-weight:700;text-align:left;color:#333333;margin:0;">The Travis CI Team</p>