<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="font-size: 14px;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="height:100%;width:100%;padding:5px 10px 10px 10px;font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:150%;text-align:center;color:#333333;background-color:#F4F5F9;background-image:url('https://s3.amazonaws.com/travis-ci-dzone/Travis-Email-Background.png');">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table cellspacing="0" cellpadding="0" border="0" style="max-width:500px;height:100%;margin-top:5px;padding:0px 10px;background-color:#FFFFFF;">
              <tbody>
                <tr>
                  <td valign="top" align="center" style="padding:20px 0px;">
                    <img src="https://s3.amazonaws.com/travis-email-assets/travis_ci_logo.png" alt="Travis CI Logo" title="Image: https://s3.amazonaws.com/travis-email-assets/travis_ci_logo.png" style="max-width: 150px;">
                  </td>
                </tr>
                <tr>
                  <td style="background-color:#FFFFFF;padding-bottom:20px;" valign="top" align="center">
                    <table style="width:90%;border-top:1px solid #DCDFE2;" width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <span></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top" align="center" style="padding:0px 25px 25px 25px;font-size:16px;">
                  <%= yield %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" align="center">
            <table cellspacing="0" cellpadding="0" border="0" style="max-width:500px;height:100%;">
              <tbody>
                <tr>
                  <td style="padding:40px 0px 20px 0px;color:#0068ff;font-size:18px;font-weight:300;" valign="top" align="center">Have any questions?
                    <a href="mailto:<%= @support_mail %>?Subject=Travis%20CI%20VCS%20Proxy%20-%20Closed%20Beta" style="color:#0068FF;">We're here to help.</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center;padding-bottom:32px;">
                    <a target="_blank" href="<%= @vcsproxy_link %>">
                      <img alt="Travis CI Footer Logo" src="https://ci3.googleusercontent.com/proxy/4F3vZYJThQv1w7W1nKjQ-gIe7Ht98nXwYqz1L2LWfB8Fuhx1dz4EflRiIfghnf8n9QgMiDIXun4qfcutU4UPMctwWQX2V8vW4xi0VePgsa-UKS8=s0-d-e1-ft#https://s3.amazonaws.com/travis-ci-dzone/TravisCI-Logo-BW.png"></a>
                    </td>
                </tr>
                <tr>
                  <td style="color:#9EA3A8;font-size:10px;line-height:200%;text-align:center;padding:0px 20px 20px 20px;">
                    <p style="margin:0px;">Travis CI GmbH, Bonner Str. 12, 51379 Leverkusen, Germany | GF/CEO: Randy Jacops | Contact:
                      <a href="mailto:<%= @contact_mail %>" style="color:#9EA3A8;">contact@travis-ci.org</a>
                      | Amtsgericht Charlottenburg, Berlin, HRB 140133 B | Umsatzsteuer-ID gemäß §27 a Umsatzsteuergesetz: DE282002648
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
